<div class="jumbotron">
    <div class="container">
        <h1 class="h1">Sign up to host Rooms</h1> 
        <h2>we would be glad to welcome you </h2> 
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup</a></p>