<header class="banner" role="banner">
  <div class="container">
    <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="test">
         <h1 class="h1">Sign up to host Rooms</h1> 
        <h2>we would be glad to welcome you </h2> 
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup</a></p>
       </div>
    </div>
  </div>
</header>
        
        
        