<div class="footer-container">
   <div class="footer">
        <div id="body-footer-wrap">

            <div id="footer-menu">
<div class="footer_widget"><strong>Learn More</strong>
<ul>
<li><a id="howitworks" href="">How Airhotels Works</a></li>
<li><a href="">FAQ</a></li>
<li><a href="">Our works</a></li>
</ul>
</div>
<div class="footer_widget"><strong>The Company</strong>
<ul>
<li><a id="terms_link" href="">Terms and Conditions</a></li>
<li><a id="privacy_policy_link" href="">Privacy policy</a></li>
<li><a id="privacy_policy_link" href="">Out sourcing</a></li>
</ul>
</div>
<div class="footer_widget"><strong>Get to know us</strong>
<ul>
<li><a href="">About Us</a></li>
<li class="last"><a href="">Customer Service</a></li>
<li><a href="">Send us an email</a></li>
</ul>
</div>
<div class="footer_widget"><strong>More about us</strong>
<ul>
<li><a href="">Blog</a></li>
<li><a href="">Help</a></li>
</ul>
</div>
</div>

<div class="footer_widget"><strong>More</strong>
<ul class="links">
                        <li class="first"><a href="http://www.apptha-demo.com/extensions/airhotel-demo/catalog/seo_sitemap/category/" title="Site Map">Site Map</a></li>
                        <li><a href="http://www.apptha-demo.com/extensions/airhotel-demo/catalogsearch/advanced/" title="Advanced Search">Advanced Search</a></li>
                        <li class=" last"><a href="http://www.apptha-demo.com/extensions/airhotel-demo/sales/guest/form/" title="Orders and Returns">Orders and Returns</a></li>
                       
            </ul>
             <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
     </ul>
  </nav>
  </footer>
</footer>